<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body>
    


    <main class="container mx-auto px-24 font-tiime">
      <h1 class="text-center mt-14 text-xl">PLNÁ MOC</h1>
      <h3 class="text-center mt-12 text-xl"></h3>
      <h2>Zplnomocňuji pana:</h2>
      <h2>Zplnomocňuji pana:
        Adam HAVEL, nar. 20. 02. 1998,  OP : 209703887 V Kateřinkách 103, Praha - Východ, Veliká 
        Ves,  aby mě zastupoval na  Živnostenském úřadu ve věci vystavení a následnovného
        vyzvednutí <b>VÝZVY</b> k doložení nového víza za účelem prodloužení platnosti
        živnostenského oprávnění.</h2>
      <section class="mt-10 text-center">
       
      </section>
      <section class="mt-14">
        <h3 class="py-10 text-left">Zmocnitel:</h3>
        <section>
          <div class="mt-10">
            <h5>Jméno a příjmení: {{CF First name}}  {{CF Surname}} </h5>
            <h5>Narozen/a: {{CF Date of birth (dd.mm.yyyy)}}  </h5>
            <h5>Bytem: {{Address in the Czech Republic (Street No, Town, Zip Code)}}</h5>
            <h5>Číslo pasu: {{CF Passport/ ID number}} </h5>
          </div>
      </section>
      <section class="mt-10">
        
        <p class="py-10 text-left" >Podpis: ……………………………………………………<br>
          <i><b>Signature</b></i>:    {{CF First name}}  {{CF Surname}}   
        </p>
        
      </section>
      <section class="mt-10">
        <h5>Toto zmocnění přijímám v plném rozsahu : …………………………</h5>
        <p class="text-sm"><i>I accept this power of attorney in a whole extent: Adam Havel</i></p>
      </section>
    </main>
  </body>
    </main>
  </body>
</html>