<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css"
      rel="stylesheet"
    />
    <title>Document</title>
  </head>
  <body>
    


    <main class="container mx-auto px-24 font-tiime">
      <h1 class="text-center mt-8 text-xl">PLNÁ MOC </h1>
      <h3 class="text-center mt-6 text-xl"></h3>
      
      Já, níže podepsaný: {{CF First name}}  {{CF Surname}} , datum narození: 
      {{CF Date of birth (dd.mm.yyyy)}} bytem: {{Address 
        in the Czech Republic (Street No, Town, Zip Code)}}<br>  číslo pasu: 
        {{CF Passport/ ID number}}  </h2>
      <section class="mt-10 text-center">
       
      </section>
      <section class="mt-8">
        <h3 class="mt-8"> Zmocňuji</h3>
        <section>
          <div class="mt-10">
            <h3>pani Lejla Belkhelifa , OP 213128446, narozena 28.08.1999, bytem Zvolská 696/3 Praha 4<br>
                 -Kamýk, aby mně zastupoval  před</h3><br>
            <ul>

<li>Celním úřadem</li><br>
<li>Finančním úřadem</li><br>
<li>Pražská správa sociálního zabezpečení
</li>
<li>Všeobecná zdravotní pojišťovna České republiky</li><br>
<li>a přijímal veškerou korespondenci, podepisoval dokumenty související s potvrzení o<br>
    bezdlužnosti pro Ministerstvo vnitra odbor azylové a migrační politiky.</li><br>
<li>Tato plna moc platí od dne podepsaní a vydává se na dobu 6 měsíců.</li>
</ul>
<p class="py-5 text-left">V Praze dne: {{CF Date created}}</p>
          </div>
      </section>
      <section class="mt-1">
        
        <p class="py-5 text-left" >___________________________<br>
          
        </p>
        <p class="py-5 text-left">{{CF First name}}  {{CF Surname}}   </p>
      </section>
      
    </main>
  </body>
    </main>
  </body>
</html>